
$purpleLight: #302D43;
$purpleDark: #282639;
$greenNeon: #92CF48;
$GreyLightBG: #F4F6F9;
$GreyDarkBG: #EAEDF3;
$GreyDarkFont: #6C7882;
$GreiLightFont: #BBC1CD;
$greyLightfont2: #A5ADBD;
$Orange: #F48320;
$purple: #744BCE;
