/*Reset*/
*{
	padding: 0;
	margin: 0;
}

body{

}

header{
	width: 100%;
	height: 82px;
	margin: auto;
	background: #3e4444;
	border-bottom: 1px solid #000;
}

/*Formatação simples*/


.logo img {
	height: auto;
	width: 200px;
	margin-top: 5px;
	float: left;
	margin-left: 40px;
}

ul {
	font-family:'Adumu' ,'Passion One', cursive, sans-serif;
	font-size: 25px;
	float: right;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 50px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #226699;
	color: #FFF;
}

/*Arrumando a esqueda e a direta dos conteudos*/

.controle-lado{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bk2.jpg) no-repeat;
	height: 720px;
	background-size: cover;
}

.esquerda{
	float: left;
	margin-left: 300px;
	margin-top: 100px;
	width: 450px;
	font-family: 'Montserrat', sans-serif;
}

.esquerda h1{
	color: #fff;
	font-size: 40px;
}

.esquerda p{
	color: #fff;
	font-size: 20px;
}

.direita{
	float: right;
	margin-right: 320px;
	width: 250px;
	font-family: 'Montserrat', sans-serif;
}



/*Formatação da caixa do login*/

.login{
	width: 320px;
	height: 420px;
	background: #000 ;
	color: #fff;
	top: 50%;
	position: absolute;
	transform: translate(-10%, -60%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.boneco{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 15px;
}

.login input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #226699;
	color: #fff;
	font-size: 18px;
	border-radius: 18px;
}

.login input[type="submit"]:hover
{
	cursor: pointer;
	background: #3e4444;
	color: #fff;
}

.login a{
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	color: darkgrey;
}
 /**************************************************************************************************************************************************/
 /*css click.html*/
*{
	margin: 0;
	padding: 0;
	
}

.tudo{
	widows: 100%;
	height: 100vh;
	background: #151519;


}

.tudo button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button{
	background: none;
	color: #ccc;
	width: 250px;
	height: 90px;
	border: 2px solid #226699;
	font-size:  18px;
	border-radius: 5px;
	transition: .6s ease;
	overflow: hidden;
/*fOCANDO BUTÃO*/
}

button:focus{
	outline: none;
}

button:before{
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.5);
	width: 60px;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	opacity: .5s;
	filter: blur( 30px);
	transform: translateX(-120px) skewX(-15deg );
}
/*faznedo transição de cores BUTÃO*/
button:after{
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.3);
	widows: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg );

}
/*Hover do BUTÃO*/
button:hover{
	background: #226699;
	cursor: pointer;
}

button:hover:before{
	transform: translateX(300px) sKewX(-15deg);
	opacity: .6;
	transition: .7s
}
button:hover:after{
	transform: translateX(300px) sKewX(-15deg);
	opacity: 1;
	transition: .7s
}

.mensagem p{
	color: #fff;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;

}